<p>
  <mat-toolbar>
    <span>Food truck, A food booking App</span>
  </mat-toolbar>
</p>

<div class="menu">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="footTruck-tab" data-bs-toggle="tab" data-bs-target="#foodtruck" type="button" role="tab" aria-controls="food-ruck" aria-selected="true">Food Truck Menu</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="foodmenu-tab" data-bs-toggle="tab" data-bs-target="#foodmenu" type="button" role="tab" aria-controls="foodmenu" aria-selected="false">Add Food Truck Menu</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">My Orders</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="foodtruck" role="tabpanel" aria-labelledby="foodtruck-tab">
      <div class="refresh-btn" style="float: right;">
        <button type="button" class="btn btn-primary" (click)="loadFoodTruck()">Refresh</button>
      </div>
      <div *ngFor="let item of FoodTruck;" style="padding: 10px;">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Food Details</h5>
            <li>Food Truck Name :  <span style="font-size: large"> {{ item.foodTruckName}} </span> </li>
              <li>Location :  <span style="font-size: large">{{ item.location}} </span>  </li>
              <li>Food Name :  <span style="font-size: large"> {{ item.foodName}} </span>  </li>
              <li>Food Price :  <span style="font-size: large"> {{ item.foodPrice}} </span>  </li>
              <div style="padding:10px">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"  (click)="Order()" data-bs-target="#FoodModal">
                  Order Food
                </button>

                <div class="modal fade" id="FoodModal" tabindex="-1" aria-labelledby="FoodModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="FoodModalLabel">Enter your Details</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div *ngIf="!orderConfirm">
                          <div class="mb-3">
                            <label for="FormControlInput1" class="form-label">Employee Name</label>
                            <input type="text" [(ngModel)]="EmployeeName" class="form-control" id="FormControlInput1" placeholder="Employee Name">
                          </div>
                          <div class="mb-3">
                            <label for="FormControlInput2" class="form-label">Employee Id</label>
                            <input type="text" [(ngModel)]="EmployeeId" class="form-control" id="FormControlInput2" placeholder="Employee Id">
                          </div>
                        </div>
                        <div *ngIf="orderConfirm">
                          Order successfully placed
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" (click)="placeOrder(item)">Place Order</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="foodmenu" role="tabpanel" aria-labelledby="foodmenu-tab">

      <div style="width:350px;padding:20px">
        <div class="mb-6" style="padding:10px">
          <label for="FormControlInput3" class="form-label">Food Truck Name</label>
          <input type="text" [(ngModel)]="foodTruckName" class="form-control" id="FormControlInput3" placeholder="Food Truck Name">
        </div>
        <div class="mb-6" style="padding:10px">
          <label for="FormControlInput4" class="form-label">Location</label>
          <input type="text" [(ngModel)]="location" class="form-control" id="FormControlInput4" placeholder="Location">
        </div>
        <div class="mb-6" style="padding:10px">
          <label for="FormControlInput5" class="form-label">Food Name</label>
          <input type="text" [(ngModel)]="foodName" class="form-control" id="FormControlInput5" placeholder="Food Name">
        </div>
        <div class="mb-6" style="padding:10px">
          <label for="FormControlInput6" class="form-label">Food Price</label>
          <input type="text" [(ngModel)]="foodPrice" class="form-control" id="FormControlInput6" placeholder="Food Price">
        </div>
        <div *ngIf="menuConfirm">
          Menu Successfully added
        </div>

        <div style="padding:20px">
          <button type="button" class="btn btn-primary" (click)="addFoodTruck()">Add Menu</button>
        </div>

      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div style="width:350px">
        <div class="mb-6" style="padding:10px">
          <label for="FormControlInput7" class="form-label">Employee Id</label>
          <input type="text" [(ngModel)]="empId" class="form-control" id="FormControlInput7" placeholder="Employee Id">
        </div>
        <div style="padding:20px">
          <button type="button" class="btn btn-primary" (click)="myOrders()">Get My Orders</button>
        </div>

        <div *ngFor="let item of MyOrders;" style="padding: 10px;">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Food Details</h5>
              <li>Food Truck Name :  <span style="font-size: large"> {{ item.foodTruckName}} </span> </li>
              <li>Employee Name :  <span style="font-size: large">{{ item.employeeName}} </span>  </li>
              <li>Food Name :  <span style="font-size: large"> {{ item.foodName}} </span>  </li>
              <li>Food Price :  <span style="font-size: large"> {{ item.foodPrice}} </span>  </li>
              <li>Employee Id :  <span style="font-size: large"> {{ item.employeeId}} </span>  </li>
            </div>

        </div>

      </div>
    </div>
  </div>
</div>

